body {
  font-family: "Helvetica";
  background-color: #f5f5f5;
  color: #da4403;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 20px 0;
}

.header__avatar {
 border-radius: 50%;
  
  }
  
  img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  color:#0d0d0d;
}

.header__subtitle {
  color: #0d0d0d;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 340px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Helvetica Neue";
  color: #0d0d0d;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background:#0d0d0d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 5px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 310px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #da4403;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
  width: 340px;
  background:  #0d0d0d;
  border-radius: 30px;
 

  font-size: 14px;
  line-height: 1.4;

  color: #da4403;
  text-decoration: none;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
}
.button-link:hover {
background-color:  #da4403;
color:  #0d0d0d;
}
